[alias]
	recommit = commit --amend --no-edit
	unstage = reset HEAD --
	log-pretty = log --oneline --all --graph
	bup = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	dv = difftool -t vimdiff -y
	bclean = "!git branch -vv | rg ': gone]' | rg -v '\\*' | awk '{ print $1 }' | xargs -r git branch -D"
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[includeIf "gitdir:~/work/**"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/play/**"]
	path = ~/.gitconfig-play
[url "git@github.com:"]
	insteadOf = https://github.com/
